body {
  background-color: rgb(37, 29, 48);
  text-align: center;
  color: aqua;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.instruction {
  font-size: 25px;
  margin-top: 70px;
}

.fortune {
  color: snow;
  font-size: 40px;
}

.cookie {
  cursor: pointer;
  width: 300px;
  height: 250px;
}

button {
  border-radius: 20px;
  margin-right: 10px;
  padding: 7px;
  background-color: orangered;
  color: black;
  border-color: orangered;
  font-weight: bolder;
}

footer {
  margin-top: 90px;
  color: gray;
  opacity: 0.7;
}